.idea
.ipynb_checkpoints
data/output
data/Test.gdb
data/Points.gdb
data/FileGDBTest.gdb/
data/multipointM.gdb/
data/multipointM2.gdb/
src/test/resources/test.gdb/
build
dist
target
metastore_db
project/target
spark-warehouse
src/main/python/filegdb.egg-info
derby.log
jn.sh
*.iml
*.sh
**/*.lock
