.idea
.ipynb_checkpoints
data/output
data/Test.gdb
data/Points.gdb
data/Points.gdb.zip
build
dist
target
project/target
spark-warehouse
metastore_db
src/main/python/filegdb.egg-info
derby.log
jn.sh
*.iml
*.sh
**/*.lock
